.main-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.main-txt {
  max-width: 500px;
  color: #576077;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 60px;
}

.title-h1 {
  font-size: 60px;
}